@import url(https://fonts.googleapis.com/css2?family=Poppins);

/* Top Bar */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #162938;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.top-bar h1 {
  margin: 0;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile ion-icon {
  margin-right: 10px;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #555;
  position: fixed;
  top: 100px; /* Adjust the value to position the sidebar below the top bar with 40px padding */
  left: 0;
  bottom: 150px;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #999;
}

.menu li:last-child {
  border-bottom: none; /* Remove border-bottom from the last item */
}

.menu li ion-icon {
  margin-right: 10px;
}

/* Content */
.content {
  margin-left: 250px; /* Adjust the value to match the width of the sidebar */
  margin-right: 5px;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

/* Buying Section */
.buying-section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.buying-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.buying-section p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.buying-section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #162938;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

/* Selling Section */
.selling-section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.selling-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.selling-section p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.selling-section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #162938;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}
