@import url(https://fonts.googleapis.com/css2?family=Poppins);

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff;
       /* background: url(background.jpg) no-repeat;*/
        background-size: cover;
        background-position: center;
}

header {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        height: 15%;
        width: 95%;
        padding: 5px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
}

.logo {
        font-size: 1.5em;
        color: red;
        user-select: none;
        display:flex;
}

.logo-text {
        font-size: 1.5em;
        color: red;
        font-family: cursive;
        margin-top: 10px;
}

.logo-image {
  width: 70px; /* Adjust the width and height as needed */
  height: 70px;
  margin-right: 5px; /* Adjust the margin as needed */
  object-fit: contain;
  filter: brightness(-50);

  background-color: #fff;
  transition: all 0.3s ease; /* Add the transition property */
}
.logo-image:hover {
  transform: scale(1.2); /* Apply a scale transformation on hover */
  opacity: 0.8; /* Reduce the opacity on hover */
  box-shadow: 4px
}

.navigation a {
        position: relative;
        font-size: 1.0em;
        color: red;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
}

.navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100px;
        height: 3px;
        background: red;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
}

.navigation a:hover::after{
        transform-origin: left;
        transform: scaleX(.6);
}

/*css style for About*/

.form-box.about {
        width: 500px;
        height: 450px;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
      }
      
      .form-box.about h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: purple;
      }
      
      .form-box.about img {
        width: 300px;
        height: 250px;
        backdrop-filter: blur(20px);
        margin-top: 10px;
        border-radius: 5px;
      }
      
      .form-box.about p {
        font-size: 16px;
        line-height: 1.5;
        /* border-top: 70px; */
        justify-content: center;
        align-items: center;
      }
      
      .form-icon {
        margin-top: 20px;
      }
      
      .form-icon a {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        font-size: 24px;
      }
      
      /*.form-icon a:hover {
        color: #00acee;
      }*/
      
      .form-icon a:last-child {
        margin-right: 0;
      }
      